<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>
<H1>ADMIN PANEL</H1>
<br><br>
<input type="button" onclick="window.location.href = '/allUsers'" value="Users">
<input type="button" onclick="window.location.href = '/allTenants'" value="Tenants">
<input type="button" onclick="window.location.href = '/allWorkers'" value="Workers">
<input type="button" onclick="window.location.href = '/allNews'" value="News">
<input type="button" onclick="window.location.href = '/allProperties'" value="News">
</body>
</html>