<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<input type="button" onclick="window.location.href = '/allHouses'" value="Houses">
  <input type="button" onclick="window.location.href = '/allUsers'" value="Users">
  <input type="button" onclick="window.location.href = '/allTenants'" value="Tenants">
  <input type="button" onclick="window.location.href = '/allWorkers'" value="Workers">
  <input type="button" onclick="window.location.href = '/allNews'" value="News">
</body>
</html>